/*----------------
  Global Styles
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px 0 0;
}

/*----------------
  Header Styles
----------------*/
.top-banner {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 100px;
}

.banner-wrapper {
    display: flex;
    align-items: center;
    max-width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
    padding: 33px 79px 0;
}

.banner-image,
.banner-text {
    width: 50%;
    padding: 12px;
}

.banner-image,
.banner-wrapper .banner-image img {
    height: 100%;
    padding: 0;
}

.banner-image img {
    width: 100%;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin: 20px 0;
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        text-shadow: 3px 3px 4px white;
    }

    100% {
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
}

.banner-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

button.btn-red {
    padding: 16px 25px;
    font-size: 20px;
    background-color: #DD0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #DD0000;
    transition: .7s border, .3s color, .3s background;
}

.link-btn {
    border: 2px solid transparent;
    transition: .7s border, .3s color, .3s background;
}

button.btn-red:hover,
.link-btn:hover {
    border: 2px solid transparent;
    background: transparent;
    color: #DD0000;
    outline: 2px solid #DD0000;
}

/*---------------
  Main Section
---------------*/
main {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1321px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);
    column-gap: 24px;
}

/*-------------------------
  Side Navigation Section
--------------------------*/
.side-nav {
    background-color: #161616;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 295px;
}

.side-nav a:first-child {
    margin-top: 0;
}

.side-nav a:last-child {
    margin-bottom: 0;
}

.side-nav a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 17px 39px;
    border-radius: 10px;
    margin: 15px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

a.active {
    background-color: #DD0000;
    color: #fff;
    transition: .7s border, .3s color, .3s background;
}

/*------------------
    Styling Blogs
--------------------*/
.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.blog-img {
    margin-bottom: -8px;
}

.blog-img img {
    width: 100%;
}

.blog-info {
    padding: 15px 10px 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.blog-info button {
    padding: 4px 16px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
}

.blog-info h3 {
    font-size: 18px;
}

.blog-info span {
    padding-right: 30px;
}

.blog-info img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.view-all {
    display: none;
}

.flags {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 40px 20px;
    line-height: 1;
    text-align: center;
    height: 230px;
}

.vs-flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.vs-info p {
    color: gray;
}

.flag img {
    width: 100%;
}

/* Footer Section */
footer {
    background-color: #161616;
    margin-top: 100px;
    padding: 30px;
}

.goal {
    height: 300px;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    border: 1px solid #FFFFFF;
}

nav {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li a {
    color: lightgrey;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}

/* Social Links */
.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links ul {
    list-style-type: none;
    display: flex;
}

.social-links ul li a {
    color: lightgrey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    transition: .3s color;
}

.social-links ul li a:hover {
    color: #0778E9;
}

/*------------------------
Responsive Media Queries
-------------------------*/

/* Styles for Mobile Devices */
@media screen and (max-width: 767px) {

    /*--------------------------------
       Header Styles (Top banner
    --------------------------------*/
    body,
    html {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .top-banner {
        margin: 20px;
        margin-bottom: 24px;
    }

    .banner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 10px;
    }

    .banner-text {
        width: 100%;
        padding: 18px 53px;
        text-align: center;
    }


    .banner-image {
        padding: 0 10px;
        width: 100%;
        text-align: center;
        margin-bottom: -10px;
    }

    .banner-text h1 {
        font-size: 22px;
        line-height: 33px;
    }

    img {

        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .banner-text p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    /*---------------
       Main Section
    ---------------*/
    main {
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 100%;
        padding: 0;
        margin: 0 20px;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 24px;
    }

    /*-------------------------
       Side Navigation Section
    --------------------------*/
    .side-nav {
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .side-nav a:first-child {
        margin-top: 0;
    }

    .side-nav a:last-child {
        margin-bottom: 0;
    }

    .side-nav a {
        border: 1px solid lightgrey;
        width: 100%;
    }

    a.active {
        background-color: #DD0000;
        color: #fff;
    }

    /*------------------
        Styling Blogs
    --------------------*/
    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .blog-img img {
        width: 100%;
    }


    /* Footer Section */
    footer {
        margin-top: 20px;
    }

    .goal {
        height: 100px;
        font-size: 22px;
    }

    hr {
        border: 1px solid #FFFFFF;
    }

    nav {
        height: auto;
        margin-top: 20px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li a {
        font-size: 14px;
        line-height: 50px;
    }

    /* Social Links */
    .social-links ul {
        flex-direction: row;
    }
}

/* Styles for Mobile Devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /*--------------------------------
       Header Styles (Top banner
    --------------------------------*/
    body,
    html {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .top-banner {
        margin: 20px;
    }

    .banner-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 61px 0 0 76px;
        overflow: hidden;
    }

    .banner-text {
        width: 100%;
        text-align: left;
        padding: 0;
    }


    .banner-image {
        padding: 0 10px;
        width: 100%;
        text-align: center;
        margin-bottom: -10px;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
    }

    .banner-text h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-text p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    /*---------------
       Main Section
    ---------------*/
    main {
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 100%;
        padding: 0;
        margin: 0 20px;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 24px;
    }

    /*-------------------------
       Side Navigation Section
    --------------------------*/
    .side-nav {
        background-color: #fff;
        width: 100%;
        height: 170px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }

    .side-nav a:first-child {
        margin: 0;
    }

    .side-nav a:nth-child(2) {
        margin: 0 22px;
    }

    .side-nav a:last-child {
        margin: 0;
    }

    .side-nav a {
        border: 1px solid lightgrey;
        width: 100%;
    }

    a.active {
        background-color: #DD0000;
        color: #fff;
    }

    /*------------------
        Styling Blogs
    --------------------*/
    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .blog:nth-child(9) {
        display: none;
    }

    .blog-img img {
        width: 100%;
    }

    .view-all {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }


    /* Footer Section */
    footer {
        margin-top: 20px;
    }

    .goal {
        height: 200px;
        font-size: 40px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

    nav ul li a {
        font-size: 14px;
        line-height: 50px;
    }

    /* Social Links */
    .social-links ul {
        flex-direction: row;
    }
}